<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/style/estilos.css">
    <title>Document</title>
</head>
<body>
    <div class="registro">
        <h2>Registrate</h2> <!--esto es una variable, esta se defina en app.js-->
        <form action="/register" method="POST"> 
            <div class="grupo">
                <input class="inputs" type="email" name="email" required>
                <span class="barra"></span>
                <label class="label" for=""><i class="far fa-user-circle"></i>email</label>
            </div>
            <div class="grupo">
                <input class="inputs" type="text" name="user"  required>
                <span class="barra"></span>
                <label class="label" for=""><i class="far fa-user-circle"></i>user</label>
            </div>
            <div class="grupo">
                <input class="inputs" type="text" name="name"  required>
                <span class="barra"></span>
                <label class="label" for=""><i class="far fa-user-circle"></i>Nombre</label>
            </div>
            <div class="grupo">
                <input class="inputs" type="password" name="pass" required>
                <span class="barra"></span>
                <label class="label" for=""><i class="fas fa-unlock-alt"></i>Contraseña</label>
            </div>

            <div class="grupo">
                <p>Rol:</p>
                <select name="rol" id="rol" class="SelectCss">
                    <option value="admin" selected>Admin</option>
                    <option value="data entry">Data Entry</option>
                </select>
            </div>

            <button type="submit">Enviar</button>
        </form>
        <a href="login" class="btnRegister">Login</a>
    </div>

    <script src="resources/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title:'<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon:'<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location='<%= ruta %>';
            })
        </script>
    <% } %>


</body>
</html>